/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/grindy-brush');

/* Changing the main font and background colour */
html, body{
	height: 100%;
	width: 100%;
}

.header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #0A092C;
	padding: 1% 0;
	font-size: 18px;
}

.navbar-brand {
	min-height: 55px;	
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-boozenbands{
    color: #26BF4C;	
}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

 header video {
    display: none;
  }
}

.padding {
	padding: 0px 0px;	
}

.padding img{
	width: 60%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.padding h2{
	padding-top: 30px;
	padding-right: 30px;
}

.lead{
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

.padding-button-landingpage{
	padding-bottom: 5px;
	
}


#fixed {
	background: url("../images/testpic.JPG");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	display: table;
	height: 100%;
	width: 100%;
}

footer {
	width: 100%;
	background-color: #0A092C;
	padding: 5% 5% 10% 5%;
	color: #2723B1
}

.contact-icon {
	padding: 15px;
	font-size: 25px;
	color: #2723B1;	
}

.contact-icon:hover {
	color: black;
}


.container1-landingpage{
	background-color: #0a092c;
	text-align: center
}

.textcolorlightblue-boozenbands{
    color: #2723B1;	
}

.grindy-brush{
	font-family: "Grindy Brush", sans-serif;
}

.container2-landingpage{
	background-color: #0A092C;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.container4-landingpage{
	background-color: #0A092C;
	text-align: left;
	padding-left: 40px;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
}

.padding h4{
	padding-top: 30px;
	padding-right: 30px;
}

.textcolorlightred-boozenbands{
    color: #BF0000;	
}

.container5-landingpage{
	background-color: #0A092C;
	text-align: left;
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 30px;
}
	
.img-padding-container5{
	width: 90px;
	 
}

.textcolor-paragraphs{
    color: #FFFFFF;	
}

.textcolorlightgreen-boozenbands{
	color: #26BF4C;
}

.container1pic-artistschedule{
	position: relative;
    text-align: center;
    color: white;
}

.schedule-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container1-artistschedule{
	background-color: #0a092c;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
}

.container2-artistschedule{
	background-color: #203F19;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container3-artistschedule{
	background-color: #0A092C;
	padding-top: 40px;
	padding-bottom: 70px;
}

.card-body{
	background-color: #300000;
}

.container4-artistschedule{
	background-color: #203F19;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container5-artistschedule{
	background-color: #0A092C;
	padding-top: 40px;
	padding-bottom: 70px;
}

.container6-artistschedule{
	background-color: #203F19;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container7-artistschedule{
	background-color: #0A092C;
	padding-top: 40px;
	padding-bottom: 70px;
}

.container8-artistschedule{
	background-color: #203F19;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 80px;
	padding-right: 80px;
}

div.elem-group {
  margin: 20px 0;
  background-color: #0D0D0F;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #26bf4c;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
    background-color: #000000;  
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

.container1-reserve{
	background-color: #0A092C;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.textcolor-reserve{
	color: #777777;
}

.container2-reserve{
	padding-top: 30px;
	background-color: #000000;
	padding-bottom: 30px;
}

.container1-thankyou{
	background-color: #300000;
	height: 100%;
	padding-top: 80px;
	padding-bottom: 50px;
	text-align: center;
}