/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */
html, body{
	height: 100%;
	width: 100%;
}

.header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #0A092C;
	padding: 1% 0;
	font-size: 18px;
}

.navbar-brand {
	min-height: 55px;	
}


/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-boozenbands{
    color: #2723B1;	
}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

 header video {
    display: none;
  }
}

.padding {
	padding: 80px 0;	
}

.padding img {
	width: 100%
}

#fixed {
	background: url("../images/testpic.JPG");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	display: table;
	height: 100%;
	width: 100%;
}

footer {
	width: 100%;
	background-color: #0A092C;
	padding: 5% 5% 10% 5%;
	color: #2723B1
}

.contact-icon {
	padding: 15px;
	font-size: 25px;
	color: #2723B1;	
}

.contact-icon:hover {
	color: black;
}
